.bg{
    background-color: black;
    text-align: center;
    padding: 20px;
}
.bg2{
    width: 290px;
    border:20px solid white;
    padding: 20px;
    margin: 30px;
}
ul{
    color: aliceblue;
    font-size: medium;
    text-align: center;
    list-style-type: none;
}
.value{
    height: 30px;
    width: 80px;
    border-radius: 16px;
    text-align: center;
}
.input1{
    height: 30px;
    padding: 4px;
}
.input2{
    padding: 10px;
    
}